@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,600;0,700;1,100&display=swap");

.body {
  background-color: #171717;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  align-items: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #50505000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(221, 221, 221);
}

::-webkit-scrollbar-corner {
  color: #000;
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

header {
  padding-left: 12px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

#main {
  width: 90vw;
  height: 90vh;
  margin-top: 12px;
  background-color: #212121;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#main > * {
  margin: 8px;
  background-color: #191919;
  border-radius: 8px;
}
#dash {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
#dash > h1 {
  /* margin-left: 12px; */
  /* margin-top: 12px; */
  margin: 12px 0px 5px 34px;
  width: 100%;
  /* padding-left: 53px; */
  font-size: 22px;
}
#control {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.mapContainer {
  width: 90%;
  height: 70%;
  background: #101010;
  border-radius: 10px;
  overflow: hidden;
}
#map {
  width: 100%;
  height: 100%;
}

#control > button,
#drawer > button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: 0px;
  appearance: none;
  border: 0px;
  -webkit-appearance: none;
  margin: 8px;
}
.form {
  width: 47%;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}
.input {
  width: 80%;
  margin: 4px;
  text-align: center;
  outline-style: solid;
  outline-color: rgb(255, 255, 255);
  outline-width: 0px;
  color: var(--text);
  background: rgba(43, 43, 43, 0);
  /* border-width: 2px; */
  border-style: none;

  border-bottom: 2px solid #ffffff;
  height: 28px;
  border-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  border-top-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  border-right-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  border-bottom-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  border-left-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
}

#openQR {
  color: #557dff;
  background: #000f52;
  cursor: pointer;
  transition: 100ms;
}

#close {
  color: hsl(0, 100%, 67%);
  background: hsl(0, 100%, 16%);
  cursor: pointer;
  transition: 200ms;
}

#close:hover {
  color: hsl(0, 96%, 9%);
  background: hsl(0, 100%, 67%);
}
#openQR:hover {
  color: #000f52;
  background: #557dff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.login {
  width: 200px;
  margin: 12px;
  height: 54px;
  padding: 13px;
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(45deg, #ff3300, #ff0000);
  font-weight: 800;
  font-size: 18px;
  outline: none;
  color: #000;
  border: none;
  transition: 400ms;
}
.login > span {
  margin-left: 12px;
  font-weight: 900;
}
.login:hover {
  background: black;
  color: #ff3300;
}
.signup {
  width: 200px;
  margin: 12px;
  height: 54px;
  padding: 13px;
  cursor: pointer;
  border-radius: 25px;
  background: linear-gradient(45deg, #00ff91, #0095ff);
  font-weight: 800;
  font-size: 18px;
  outline: none;
  color: #000;
  border: none;
  transition: 400ms;
}
.signup > span {
  margin-left: 12px;
  font-weight: 900;
}
.signup:hover {
  background: black;
  color: #00ff91;
}
.drawer {
  width: 90vw;
  height: 80vh;
  position: absolute;
  top: 50%;
  width: 100vw;
  z-index: 45;
  left: 51%;
  transition: 400ms;
  /* padding-top: 28px; */
  transform: translate(-50%, 100%);
  height: 100vh;
  border-radius: 12px 12px 0px 0px;
  background: #111111bf;
  z-index: 1000;
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;
  transition-timing-function: cubic-bezier(0.61, 1.24, 0.94, 0.99);
}
.drawer > img {
  width: 150px;
  height: auto;
  background: white;
  padding: 12px;
  border-radius: 8px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 16px;
  }
  header > * {
    font-size: 18px;
  }
  header > i {
    font-size: 12px;
  }
  header {
    /* padding: 0px; */
    justify-content: flex-start;
    height: 48px;
  }
  #main {
    flex-direction: column;
  }
  #dash {
    width: 90%;
    height: 60%;
  }
  #control {
    width: 90%;
    height: 30%;
  }
  label {
    display: none;
  }
}
